<center>
<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @if (ViewBag.jobs != null)
    {
        <table class="table-bordered table-hover align-items-center">
            @foreach (var job in ViewBag.jobs)
            {
                <tr class="clickable-row" href="">
                    <td>
                        <p style="margin-bottom:0;">Name: @job.Name</p>
                        <p style="margin-bottom:0;">Employer: @job.EmployerName</p>
                        <p style="margin-bottom:0;">Location: @job.Location</p>
                        <p style="margin-bottom:0;"><a asp-controller="Search" asp-action="JobDetail" asp-route-id="@job.JobId">More Info...</a></p>
                    </td>
                </tr>
            }
        </table>
    }


</div>
</center>